.hero-visual{
    background-image: linear-gradient(to bottom, 
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,0.3) 70%, 
        rgba(0,0,0,0.9) 100%
    ), url(../assets/images/hero.jpg);
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;    
    height: 80vh;       
    max-height: 900px;
}

.hero__container{
    color: var(--white);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    padding: 80px;
}

.hero__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
}

.verified{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    width: 200px;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: bold;
}

.hero__title{
    font-size: 5rem;
    line-height: 80px;
    text-transform: capitalize;
}

.hero__title--orange{
    color: var(--primary);
}

.hero__text{
    font-size: 1.2rem;
    line-height: 25px;
}

.hero__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hero__button{
    width: 240px;
    padding: 15px 20px;
    border-radius: 40px;
    background-color: var(--primary);
    border: none;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    box-shadow: -1px -1px 5px 0px rgba(255,255,255,0.85);
    text-align: center;
}

.transparent{
    background-color: rgba(255, 255, 255, 0.089);
    width: 200px;
    border: 1px solid var(--white);
}



.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.about{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__title{
    color: var(--dark);
    font-size: 2rem;
    text-transform: capitalize;
}

.about__text{
    margin-top: -10px;
    margin-bottom: 30px;
    color: var(--text-main);
}

.steps__container{
    display: flex;
    justify-content: space-between;
}

.step{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    background-color: var(--gray-light);
    padding: 20px;
    border-radius: 20px;
}

.step i{
    color: orange;
    font-size: 1.5rem;
    background-color: #F7EBDF;
    padding-top: 18px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    
}

.step__title{
    color: var(--dark);
}

.step-description{
    text-align: center;
    column-rule: var(--text-main);
}