@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&family=Noto+Sans:wght@400;500;700&display=swap');

:root{
    --primary: #ec7f13;
    --primary-hover: #d66d0a;
    --dark: #0F172A;
    --white: #ffffff;
    --gray-light: #F8F9FA;
    --text-main: #334155;
    --font-display: 'Plus Jakarta Sans', sans-serif;
    --font-body: 'Noto Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-body);
    background-color: var(--white);
}