@media (max-width: 1200px) {
    .hero__title {
        font-size: 4rem;
        line-height: 1.1;
    }

    .project {
        flex: 0 1 30%; 
    }

    .ready-left {
        width: 60%;
    }
}

@media (max-width: 992px) {

    .header__nav {
        display: none; 
    }

    .nav__actions{
        gap: 20px;
    }

    .nav__burger {
        display: flex;
    }

    /* Hero */
    .hero__info {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .hero__buttons {
        justify-content: center;
    }

    /* Proyectos */
    .project {
        flex: 0 1 45%;
    }

    .ready {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .ready-left, .ready-rigth {
        width: 100%;
    }

    /* Footer */
    .footer__grid {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 3rem;
    }

    .about__title, .projects__title {
        font-size: 2rem;
    }

    .steps__container {
        flex-direction: column;
    }

    .step {
        width: 100%;
    }

    .projects__texts {
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 0px) and (max-width: 580px) {
    .nav__actions .header__button {
        display: none;
    }
    
    .nav__actions {
        justify-content: flex-end;
    }
}

@media (max-width: 480px) {
    .hero__title {
        font-size: 2.2rem;
    }

    .hero__buttons {
        flex-direction: column;
        width: 100%;
    }

    .hero__button, .transparent {
        width: 100%;
    }

    .project {
        flex: 0 1 100%; 
    }

    .footer__grid {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .footer__logo {
        justify-content: center;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}